<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>App</title>
  </head>
  <body>
    <header>
      <h1>It's an awesome app!</h1>
    </header>
    {{{body}}}
    <footer>
      <p>All rights reserved<p>
    </footer>
  </body>
</html>